body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/53feb922e4b0260e999e33c7/1592262759110-W21JF0UDMMQA9DFN82A7/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UbeDbaZv1s3QfpIA4TYnL5Qao8BosUKjCVjCf8TKewJIH3bqxw7fF48mhrq5Ulr0Hg/Fireworks.png?format=1000w");
}

.font {
    font-family: "Century Gothic", CenturyGothic, sans-serif;
}

.treats {
    color: white;
    padding: 8px;
  }

  .wine-type {
    color: white;
    padding: 8px;
  }

  .submission {
    color: white;
    padding: 8px;
  }

  .name {
    color: white;
    padding: 8px;
  }

.h1 {
    color: white;
}
